<main class="container">
  <div class="bg-body-tertiary p-5 rounded mt-3">
    <h1>Service Collector</h1>
    <p class="lead">
      A service collector is an application that gather information given a
      specific metric
    </p>

    <button class="btn btn-primary" (click)="openModal()">New Collector</button>

    <ng-template #modalContent let-modal>
      <div class="bg-body-tertiary p-5 rounded mt-1">
        <h1>New Service Collector</h1>
        <br>
        <form [formGroup]="serviceCollectorForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="serviceName" class="form-label">Service Name</label>
            <input type="text" class="form-control" formControlName="serviceName" />
          </div>
          <!-- TODO: collector type must be a combo filled with values fetched from API -->
          <div class="mb-3">
            <label class="form-label">Collector Type</label>
            <input type="text" class="form-control" formControlName="collectorType" />
          </div>
          <div class="mb-3">
            <label class="form-label">URL</label>
            <input type="text" class="form-control" formControlName="url" />
          </div>
          <div class="mb-3">
            <label class="form-label">Measurement Format</label>
            <input type="text" class="form-control" formControlName="measurementFormat" />
          </div>
          <div class="mb-3">
            <label class="form-label">Measurement Description</label>
            <input type="text" class="form-control" formControlName="measurementDescription" />
          </div>
          <div class="mb-3">
            <label class="form-label">Output Example</label>
            <input type="code" class="form-control" formControlName="outputExample" />
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!serviceCollectorForm.valid">Register</button>
        </form>
      </div>
    </ng-template>
  </div>

  <div class="bg-body-tertiary" *ngIf="currentServiceCollectors.length > 0">
    <thead>
      <tr>
        <th>Service Name</th>
        <th>Collector Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let collector of currentServiceCollectors">
        <!-- TODO: ver nomes do Json -->
      </tr>
    </tbody>
  </div>
</main>