
<main class="container">
    <div class="bg-body-tertiary p-5 rounded mt-3">
      <h1>New metric type</h1>
      <p class="lead">
        Create a new metric type. For example: API Descriptors, Static (from Code) etc.
      </p>
      <form>
        <div class="mb-3">
          <label for="serviceName" class="form-label">Metric Type</label>
          <input type="text" class="form-control" />
        </div>
        <div class="mb-3">
          <label class="form-label">Description</label>
          <input type="text" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </div>
  </main>
  